body {
    background-color: #1F2937;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

    display: flex;
    flex-direction: column;

}

.header {
    display: flex;
    justify-content: space-between;
    
    padding: 8px 64px;
}

.header-title {
    font-size: 28px;
    font-weight: 900;
}

ul {
    display: flex;

    list-style-type: none;

    padding: 0;
    margin: 0;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.banner {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding: 64px;
}

.main-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F9FAF8;
    padding: 64px;
}

.main-body-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.information {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 64px;
}

.action {
    display: flex;
    justify-content: center;
    background-color: #F9FAF8;
    padding: 20px 64px;
}

.action-banner {
    display: flex;
    justify-content: space-around;

    flex-grow: 1;
    padding: 64px;
    border-radius:8px;

    background-color: #3882F6;
    color: #F9FAF8;
}

.action-banner .title {
    font-size: 24px;
    font-weight: 900;
}

.action-banner button {
    padding: 0 32px;
    color: #F9FAF8;
    border-radius:8px;
    border-color: #F9FAF8;
    border-style: solid;
    background-color: #3882F6;
    font-size: 14px;
    gap: 8px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}