body {
    background-color: #1F2937;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

    display: flex;
    flex-direction: column;

}

.header {
    display: flex;
    justify-content: space-between;
    
    padding: 8px 64px;
}

.header-title {
    font-size: 28px;
    font-weight: 1000;
}

ul {
    display: flex;

    list-style-type: none;

    padding: 0;
    margin: 0;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.banner {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding: 64px;
    gap: 32px;
}

.banner-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 100%;
}

.banner-left-title {
    font-size: 48px;
    font-weight: 900;
}

.banner-left-text {
    margin: 8px 0;
}

.banner-button {
    align-self: flex-start;
    padding: 8px 16px;
    color: #F9FAF8;
    border-radius:6px;
    border-style: solid;
    border-color: #3882F6;;
    background-color: #3882F6;
    font-size: 14px;
    gap: 8px;
}

.banner-right {
    background-color: grey;
    flex-basis: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.main-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F9FAF8;
    padding: 0px 64px 64px 64px;
    text-align: center;
}

.main-body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.item {
    width: 200px;
    height: 200px;
    border-radius:8px;
    margin: 32px;
    border-color: #3882F6;
    border-style: solid;
    background-color: #F9FAF8;
    flex-shrink: 0;

    display: flex;
}

.main-body-title {
    font-size: 36px;
    color: #1F2937;
    padding: 16px;

}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 64px;
    color: #1F2937;
    font-size: 20px;
}

.information-owner {
    align-self: flex-end;
    font-weight: 700;
}

.action {
    display: flex;
    justify-content: center;
    background-color: #F9FAF8;
    padding: 64px;
}

.action-banner {
    display: flex;
    justify-content: space-around;

    flex-grow: 1;
    padding: 64px;
    border-radius:8px;

    background-color: #3882F6;
    color: #F9FAF8;
}

.action-banner .title {
    font-size: 24px;
    font-weight: 900;
}

.action-banner button {
    padding: 0 32px;
    color: #F9FAF8;
    border-radius:8px;
    border-color: #F9FAF8;
    border-style: solid;
    background-color: #3882F6;
    font-size: 14px;
    gap: 8px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}